
<IfModule mod_rewrite.c>

    # 簡易WAFの設定：
    #   mysql3.phpのHTTPクエリに「union」や「select」があると400 Bad Requestにする。
    #   ただし、大文字小文字を無視する [NC] の設定していないため、
    #   SeLeCtのように大文字小文字混在にするとWAF回避可能。

    RewriteEngine on
    RewriteCond $1 ^(mysql3\.php)
    #RewriteCond %{QUERY_STRING} ^.*(\<|%3C).*script.*(\>|%3E)           [NC,OR]
    #RewriteCond %{QUERY_STRING} ^.*(localhost|loopback|127\.0\.0\.1).*  [NC,OR]
    #RewriteCond %{QUERY_STRING} ^.*(;|<|>|'|"|%0A|%0D|%00).*            [NC,OR]
    #RewriteCond %{QUERY_STRING} ^.*(union|select|insert|update|alter).* [NC]
    RewriteCond %{QUERY_STRING} ^.*(union|select|insert|update|alter|UNION|SELECT|INSERT|UPDATE|ALTER).*
    RewriteRule ^(.*)$ - [R=400,L]

</IfModule>
